@CHARSET "UTF-8";

#page {
	margin: 0 auto 36px auto;
}

/* From the Baseline CSS example. */
#branding a				{ border: none; }
.white-space			{ margin-left: 0; list-style-type: none; clear: both; }
.space-width			{ font-family: times, "times new roman", serif; line-height: 14px; }
.description			{ display: block; float: left; clear: left; }
.description code		{ color: #999; }
.space-width			{ background: rgba(255, 255, 0, 0.4); }
@media only screen and (max-device-width:480px) {}


.details_div {
	overflow:auto;
	border: 1px solid;
	border-color: #34495e;	
}

#notification_record_div {
	max-height: 100px;
}

#trans_record_div {
	max-height: 300px;
}

.alertRow {
	color: red;
}

#graphical_data_div {
     width: 100%;
     margin: 0 auto;
     text-align: center;
}
#lhs_graph_div, #rhs_graph_div {
    border: 1px solid white;
    float: left;
    min-height: 450px;
}

#lhs_graph_div {
     width: 48%;
}

#rhs_graph_div {
     width: 48%;
}


.flat-button {
  position: relative;
  vertical-align: top;
  width: 200px;
  height: 40px;
  padding: 0;
  font-size: 16px;
  color: white;
  text-align: center;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.25);
  background: #34495e;
  border: 0;
  /*border-bottom: 2px solid #263849;*/
  cursor: pointer;
  -webkit-box-shadow: inset 0 -2px #263849;
  box-shadow: inset 0 -2px #263849;
}

.flat-button:active {
  top: 1px; 
  outline: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}

